@keyframes rd-toast-bottom-show {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes rd-toast-bottom-hide {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    100% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes rd-toast-top-show {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes rd-toast-top-hide {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    100% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

.rd-toast-canvas {
    --rd-toast-padding: 8px 14px;
    --rd-toast-radius: 8px;
    --rd-toast-content-gap: 8px;
    --rd-toast-spacing: 16px;
    --rd-toast-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    --rd-toast-bg-color: rgba(255, 255, 255, 1);
    --rd-toast-text-color: rgba(0, 0, 0, 1);
    --rd-toast-border-color: rgba(0, 0, 0, 1);

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}

.rd-toast-group {
    display: flex;
    flex-direction: column;
    padding: var(--rd-toast-spacing);
}

.rd-toast-group.position-top-left {
    grid-column: 1;
    grid-row: 1;
    align-items: flex-start;
}
.rd-toast-group.position-top-center {
    grid-column: 1;
    grid-row: 1;
    align-items: center;
}
.rd-toast-group.position-top-right {
    grid-column: 1;
    grid-row: 1;
    align-items: flex-end;
}

.rd-toast-group.position-bottom-left {
    grid-column: 1;
    grid-row: 2;
    align-items: flex-start;
    justify-content: flex-end;
}

.rd-toast-group.position-bottom-center {
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    justify-content: flex-end;
}

.rd-toast-group.position-bottom-right {
    grid-column: 1;
    grid-row: 2;
    align-items: flex-end;
    justify-content: flex-end;
}

.rd-toast-item {
    position: relative;
    max-width: 100%;
    padding: var(--rd-toast-padding);
    box-shadow: var(--rd-toast-shadow);
    border-radius: var(--rd-toast-radius);
    border: 1px solid var(--rd-toast-border-color);
    color: var(--rd-toast-text-color);
    background-color: var(--rd-toast-bg-color);
    pointer-events: auto;
    display: flex;
    align-items: center;
    gap: var(--rd-toast-content-gap);
}

.rd-toast-item + .rd-toast-item {
    margin-top: var(--rd-toast-spacing);
}

.rd-toast-item.type-info {
    --rd-toast-text-color: rgba(255, 255, 255, 1);
    --rd-toast-bg-color: rgba(6, 182, 212, 1);
    --rd-toast-border-color: transparent;
}

.rd-toast-item.type-warning {
    --rd-toast-text-color: rgba(255, 255, 255, 1);
    --rd-toast-bg-color: rgba(245, 158, 11, 1);
    --rd-toast-border-color: transparent;
}

.rd-toast-item.type-error {
    --rd-toast-text-color: rgba(255, 255, 255, 1);
    --rd-toast-bg-color: rgba(244, 63, 94, 1);
    --rd-toast-border-color: transparent;
}

.rd-toast-item.type-success {
    --rd-toast-text-color: rgba(255, 255, 255, 1);
    --rd-toast-bg-color: rgba(132, 204, 22, 1);
    --rd-toast-border-color: transparent;
}

.rd-toast-item[class*='position-bottom'].show {
    animation: rd-toast-bottom-show 0.5s;
}

.rd-toast-item[class*='position-bottom'].hide {
    animation: rd-toast-bottom-hide 0.5s;
    opacity: 0;
}

.rd-toast-item[class*='position-top'].show {
    animation: rd-toast-top-show 0.5s;
}

.rd-toast-item[class*='position-top'].hide {
    animation: rd-toast-top-hide 0.5s;
    opacity: 0;
}

.rd-toast-item-icon {
    flex: none;
}

.rd-toast-item-icon > * {
    display: block;
}

@media only screen and (min-width: 980px) {
    .rd-toast-canvas {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50% 50%;
    }

    .rd-toast-group.position-top-left {
        grid-column: 1;
        grid-row: 1;
        align-items: flex-start;
    }
    .rd-toast-group.position-top-center {
        grid-column: 2;
        grid-row: 1;
        align-items: center;
    }
    .rd-toast-group.position-top-right {
        grid-column: 3;
        grid-row: 1;
        align-items: flex-end;
    }

    .rd-toast-group.position-bottom-left {
        grid-column: 1;
        grid-row: 2;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .rd-toast-group.position-bottom-center {
        grid-column: 2;
        grid-row: 2;
        align-items: center;
        justify-content: flex-end;
    }

    .rd-toast-group.position-bottom-right {
        grid-column: 3;
        grid-row: 2;
        align-items: flex-end;
        justify-content: flex-end;
    }
}
